/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0; /*self-added*/
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100vh; /*self-added*/
  width: 100vw; /*self-added*/
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
/* */

main {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}

.container {
  min-width: 80%;
  min-height: 80%;

  display: grid;
  grid-template-rows: 200px 500px;
  grid-template-columns: 1fr;
  gap: 15px;

  padding: 15px;
}

.controls {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 120px 1fr;
  gap: 15px;
  place-content: center;
}

.controls .player-name {
  height: 70%;
  width: 60%;
  font-size: 1.2rem;
  font-weight: bold;
  place-self: center;
  text-align: center;
  border: 10px solid rgb(69, 69, 253);
  border-radius: 4px;
  align-self: end;
}

.controls button {
  height: 40%;
  width: 100%;
  place-self: center;
  border-radius: 20% / 50%;
  background-color: burlywood;
  border: none;
}

.controls .btn-newgame {
  align-self: end;
}

.controls .btn-reset {
  align-self: start;
}

.controls .player-score {
  height: 40%;
  width: 30%;
  border: 1px solid back;
  font-size: 1.1rem;
  place-self: center;
  text-align: end;
  border: none;
  background-color: black;
  color: red;
}

.gameboard {
  width: 500px;
  height: 500px;
  justify-self: center;
  padding: 15px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 50px;

}

.gameboard .btn-tile {
  appearance: none;
  border: none;

  font-size: 4rem;
  background-color: #0ae7d8;
  background-color: #18cbc0;

  color: #E70A19;
}

button:hover {
  opacity: 50%;
}

button:active {
  opacity: 80%;
  box-shadow: inset 2px 2px rgba(0, 0, 0, 0.712);
}